Repository ynashed/bionemo-framework, changes with the owners that CODEOWNERS names for each.
All owners: @jstjohn, @malcolmgreaves, @ntadimeti, @trvachov, @jomitchellnv, @pstjohn, @ohadmo, @skothenhill-nv, @DejunL, @farhadrgh, @guoqing-zhou, @gwarmstrong, @polinabinder1

CODEOWNERS:

# For documentation, see: https://docs.gitlab.com/ee/user/project/codeowners/
#
# *** NOTE ***
#   KEEP THE LISTS OF INDIVIDUAL CODEOWNERS/TEAMS IN ALPHABETICALLY SORTED ORDER
#

#
## MAPPING of GitHub USERNAME to PERSON in ALPHABETICAL ORDER on username
#
# @DejunL - Dejun Lin
# @broland-hat - Brian Roland
# @cspades - Cory Ye
# @dorotat-nv - Dorota Toczydlowska
# @farhadrgh - Farhad Ramezanghorbani
# @guoqing-zhou - Guoqing Zhou
# @gwarmstrong - George Armstrong
# @jomitchellnv - Jonathan Mitchell
# @jstjohn - John St. John
# @jwilber  - Jared Wilber
# @kdidiNVIDIA - Kieran Didi
# @malcolmgreaves - Malcolm Greaves
# @ntadimeti - Neha Tadimeti
# @nv-mcclure - Zachary McClure
# @nvdreidenbach - Danny Reidenbach
# @ohadmo - Ohad Mosafi
# @polinabinder1 - Polina Binder
# @pstjohn - Peter St. John
# @sichu2023 - Simon Chu
# @skothenhill-nv-nv - Steven Kothen-Hill
# @trvachov - Timur Rvachov
# @yzhang123 - Yang Zhang

#
## LEGAL
#
LICENSE @jstjohn @malcolmgreaves @ntadimeti @trvachov
license_header @jstjohn @malcolmgreaves @ntadimeti @trvachov


#
## DOCUMENTATION
#
README.md @jstjohn @malcolmgreaves @jomitchellnv @pstjohn
docs @jstjohn @malcolmgreaves @jomitchellnv @pstjohn


#
## INFRASTRUCTURE
#
#.gitignore
#.dockerignore
.devcontainer @malcolmgreaves @pstjohn
CODEOWNERS @jomitchellnv @jstjohn @malcolmgreaves @pstjohn @trvachov
Dockerfile @jomitchellnv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
launch.sh  @jomitchellnv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
3rdparty       @jomitchellnv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
pyproject.toml @jomitchellnv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
requirements-cve.txt  @jomitchellnv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
requirements-dev.txt  @jomitchellnv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
requirements-test.txt @jomitchellnv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
tach.yml @jomitchellnv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov
.secrets.baseline @jomitchellnv @jstjohn @malcolmgreaves @ohadmo @pstjohn @trvachov


#
## LIBRARY CODE
#
scripts @jomitchellnv @jstjohn @malcolmgreaves @skothenhill-nv

sub-packages/bionemo-fw @DejunL @farhadrgh @guoqing-zhou @gwarmstrong @jomitchellnv @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-testing @farhadrgh @gwarmstrong @jomitchellnv @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-core @DejunL @farhadrgh @guoqing-zhou @gwarmstrong @jomitchellnv @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-llm @farhadrgh @gwarmstrong @jomitchellnv @jstjohn @malcolmgreaves @pstjohn @skothenhill-nv

sub-packages/bionemo-geometric @DejunL @guoqing-zhou @jstjohn @malcolmgreaves

sub-packages/bionemo-example_model @jomitchellnv @jstjohn @malcolmgreaves @skothenhill-nv

sub-packages/bionemo-geneformer @jstjohn @malcolmgreaves @skothenhill-nv

sub-packages/bionemo-scdl @jomitchellnv @jstjohn @malcolmgreaves @polinabinder1 @skothenhill-nv

Distributed Inference Support for ESM2/Geneformer (#482)
  docs/docs/user-guide/examples/bionemo-esm2/finetune.md
  docs/docs/user-guide/examples/bionemo-esm2/inference.ipynb
  docs/docs/user-guide/examples/bionemo-esm2/mutant-design.ipynb
  docs/docs/user-guide/examples/bionemo-geneformer/geneformer-celltype-classification.ipynb
  scripts/protein/esm2/esm2_infer.py
  scripts/protein/esm2/test_esm2_infer.py
  sub-packages/bionemo-geneformer/src/bionemo/geneformer/scripts/infer_geneformer.py
  sub-packages/bionemo-llm/src/bionemo/llm/data/collate.py
  sub-packages/bionemo-llm/src/bionemo/llm/lightning.py
  sub-packages/bionemo-llm/src/bionemo/llm/utils/callbacks.py
  sub-packages/bionemo-llm/tests/bionemo/llm/utils/test_callbacks.py
Owners: @jstjohn, @malcolmgreaves, @jomitchellnv, @pstjohn, @skothenhill-nv, @farhadrgh, @gwarmstrong

Enhance BioNeMoAMPLIFYTokenizer to inherit special token IDs from PreTrainedTokenizer
  sub-packages/bionemo-amplify/src/bionemo/amplify/data/tokenizer/__init__.py
Owners: none

moved ffn_hidden_size rescaling to the model constructor as it was called twice with v2.2+ docker container
  sub-packages/bionemo-amplify/src/bionemo/amplify/model/model.py
Owners: none

added amplify inference script
  scripts/protein/amplify/runai/amplify120M.yaml
  scripts/protein/amplify/runai/amplify350M.yaml
Owners: @jomitchellnv, @jstjohn, @malcolmgreaves, @skothenhill-nv

Add inference script for BioNeMo AMPLIFY model
  scripts/protein/amplify/amplify_infer.py
Owners: @jomitchellnv, @jstjohn, @malcolmgreaves, @skothenhill-nv
